$color-bg: #21222D;
$color-text: #ffffff;
$color-text-grey: #747587;
$color-white: #ffffff;
$color-card-grey: #2C2C37;
$color-btn-grey: #747587;
$color-blue: #188BF5;
$color-red: #DE4154;
$color-green: #4B8261;