$fallback-fonts: Arial, Helvetica, sans-serif;
$font-montserrat: Montserrat, $fallback-fonts;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extrabold: 900;